include *.cfg
recursive-include protonvpn_nm_lib *.cfg
recursive-include protonvpn_nm_lib *.j2
include LICENSE
include *.md
exclude tests/
exclude .gitignore
exclude *.sh
exclude *.yml
exclude Dockerfile