[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
flake8 = "*"
dbus-python = "*"
requests = "*"
bcrypt = "*"
python-gnupg = "*"
pyopenssl = "*"

[packages]
pyxdg = "*"
pythondialog = "*"
jinja2 = "*"
pygobject = "*"
keyring = "*"
distro = "*"
proton-client = "*"
