[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
xdg = "*"
pythondialog = "*"
jinja2 = "*"
proton-client = "*"
pygobject = "*"
keyring = "*"
sentry-sdk = "==0.10.2"
